<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>柱状图</title>
    <html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <!--<link rel="stylesheet" type="text/css" href="css/home.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/">-->
    <style>
        #main{
            display: inline-block;
            width: 1600px;
            height: 300px;
            margin:30px;padding: 20px;
        }
    </style>
    <!--<script src="js/jquery-2.2.0.min.js"></script>-->
    <script th:src="@{/js/jquery-2.2.0.min.js}"></script>
    <!--<script type="text/javascript" src="js/echarts.common.min.js"></script>-->
    <!--<script type="text/javascript" src="th:rec/js/echarts.common.min.js"></script>-->
    <script type="text/javascript" th:src="@{/js/echarts.common.min.js}"></script>
    <script>
        $(function () {
            var data1=[];
            var data2=[];
            $.ajax({
                url: "/tuxing/demo",
                type: "post",
                success: function (res) {
                    $(res).each(function () {
                        data1.push(this.name)
                        data2.push(this.price)
                    })
                    console.log(data1)
                    console.log(data2)
                    var myChart = echarts.init(document.getElementById('main'));



                    // 指定图表的配置项和数据
                    var option = {
                        //标题
                        title: {
                            text: '车位柱状图'
                        },
                        //图例，每个图表最多仅有一个图例
                        //legend的data: 用于设置图例，data内的字符串数组需要与sereis数组内每一个series的name值对应
                        legend: {
                            data:["价钱"]
                        },
                        //触发类型，默认（'item'）数据触发，可选为：'item' | 'axis'
                        tooltip : {
                            trigger: 'axis'
                        },
                        //直角坐标系中横轴数组，数组中每一项代表一条横轴坐标轴，仅有一条时可省略数值
                        //横轴通常为类目型，但条形图时则横轴为数值型，散点图时则横纵均为数值型
                        xAxis: {
                            data: data1
                        },
                        //直角坐标系中纵轴数组，数组中每一项代表一条纵轴坐标轴，仅有一条时可省略数值
                        //纵轴通常为数值型，但条形图时则纵轴为类目型
                        yAxis: {
//                    show: true,
//                    //坐标轴类型，纵轴默认为数值型'value'
//                    type: 'value',
//                    //分隔区域，默认不显示
//                    splitArea: {show: true}
                        },
                        //sereis的数据: 用于设置图表数据之用。series是一个对象嵌套的结构；对象内包含对象
                        series: [{
                            //系列名称，如果启用legend，该值将被legend.data索引相关
                            name: '价钱',
                            //图表类型，必要参数！如为空或不支持类型，则该系列数据不被显示。
                            type: 'bar',
                            //系列中的数据内容数组，折线图以及柱状图时数组长度等于所使用类目轴文本标签数组axis.data的长度，并且他们间是一一对应的。数组项通常为数值
                            data:data2
                        }]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);

                }
            })
            // 基于准备好的dom，初始化echarts实例

        })
    </script>

<body>
    <div id="main"></div>
</body>

</html>